<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--1.导入spring的坐标spring-context，对应版本是5.2.10.RELEASE-->
    <!--2.配置bean
        bean标签表示配置bean
        id属性表示给bean起名字
        class属性表示给bean定义类型-->
<!--    <bean id="bookDao" name="bookDao2" class="com.itheima.dao.impl.BookDaoImpl" scope="prototype"/>-->
<!--    方式二：使用静态工厂实例化bean-->
<!--    <bean id="orderDao" class="com.itheima.factory.OrderDaoFactory" factory-method="getOrderDao"/>-->

    <!--    方式三：使用实例工厂实例化bean-->
    <!--    <bean id="userDaoFactory" class="com.itheima.factory.UserDaoFactory"/>-->

    <!--    <bean id="userDao" factory-method="getUserDao" factory-bean="userDaoFactory"/>-->

    <!--    <bean id="bookDaoFactory" class="com.itheima.factory.BookDaoFactory"/>-->
    <!--    <bean id="bookDao" factory-method="getBookDao" factory-bean="bookDaoFactory"/>-->

    <!--    方式四：使用FactoryBean实例化Bean-->
    <bean id="userDao" class="com.itheima.factory.UserDaoFactoryBean"/>
</beans>